body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    direction: rtl;
}
.continer{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding: 0;
    margin: 0;
    color: brown;

}
header{
  background: #353637;
    color: #eee;
    padding: 30px;
    min-height: 70px;
    border-bottom:#32a0c2 5px solid;
}
header a{
    color: #eee;
    text-decoration: none;
    font-size: 19px;
}
header li
{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand{
    float: right;
    width: 30%;
}
header #brand p{
    font-size: 29px;
margin: 0;
color: #32a0c2;
}
header nav {
    float: left;
    margin-top:10px ;

}
header .carrent a{
    font-weight: bold;
    color: #32a0c2;
    transition: 0,7s;
}
header a:hover{
color: #eee;
    transform: scale(1.5);
    
}
#karim
{
    min-height: 100em;
    background: url(".//pp.png")no-repeat center;
    background-size:cover ;
}
#ksa{    
    padding: 15px;
    background: #353637;
    color: #eee;
}
#ksa h1{
    float:right;
}
#ksa form{
    float: left;
    margin-top: 15px;

}
#ksa input[type="email"]
 {
    padding: 4px;
    height: 25px;
    width: 250px;
 }
 .button
 {
    height: 38px;
    padding-left: 20px;
 padding-right: 20px;
 background: #eee;  
 border: none;
 color: #353637;
 }
 #boxes{
    margin-top:px ;
 }
 #boxes .box{
    float :left;
    width: 30%;
    text-align: center;
    padding: 10px;
 }
 footer{
    padding: 20px;
    margin: 20px;
    color: #ffff;
    background-color: #32a0c2;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
 }
 @media(max-width:768px) 
 {
    header #brand,
    header nav,
    header nav li,
     #ksa h1,
    #ksa form,
    #boxes .box   
 {
    float: none;
    width:100% ;
    text-align: center;
 }
header {
    padding-bottom: 20px;
}
#ksa .button{
    display: block;
    width: 100%;
}
#ksa form input[type="email"]

{
   width: 100%; 
   margin-bottom:5px ;
}

 
